*{
    margin: 0;
}

#body {
    color: wheat;
    
    /* padding-left: 50px; */
    
    background-color: rgb(244, 174, 69);
    
}

header > h1 {
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* margin-top: 100px; */
    font-weight: 500;
    font-size: xx-large;
}
